{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h3>Профиль пользователя: {{ user.username }}</h3>

  <div class="profile-details">
    {% if user.avatar %}
      <img src="{{ user.avatar.url }}" alt="Аватар" class="avatar-image">
    {% else %}
      <p>Аватар отсутствует</p>
    {% endif %}
    <p>Имя: {{ user.first_name }}</p>
    <p>Фамилия: {{ user.last_name }}</p>
    <p>Электронная почта: {{ user.email }}</p>
    <p>Дата рождения: {{ user.birth_date }}</p>
    <p>Пол: {{ user.get_gender_display }}</p>
  </div>

  <h4>Обновить профиль</h4>
  <form method="post" enctype="multipart/form-data" class="crispy-forms">
    {% csrf_token %}
    {{ profile_update_form|crispy }}
    <button type="submit">Сохранить</button>
  </form>
  <a href="{% url 'users:password_change'%}">Изменить пароль?</a>

  {% include 'users/profile_sidebar.html' %}

{% endblock %}
