{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load book_filters %}

{% block title %}
  {{ book.name }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="book-details">
        <div class="book-item">
          <h2>Автор:</h2>
          <p>{{ book.author }}</p>
        </div>
        <div class="book-item">
          <h2>Жанр:</h2>
          <p>{{ book.genre.name }}</p>
        </div>
        <div class="book-item">
          <h2>Описание:</h2>
          <p>{{ book.description }}</p>
        </div>
        <div class="book-item">
          <h2>Год выпуска:</h2>
          <p>{{ book.year }}</p>
        </div>
        <!--
        <div class="book-item">
          <h2>Рейтинг:</h2>
          <p>{{ book.rating }}</p>
        </div>
         -->
        <div class="book-item">
          <h2>Отзывы:</h2>
          {% for review in reviews %}
            <p>
              <span style="color: red;">{{ review.author.username }}:</span>
              оценка <b>{{ review.score }}</b>
            </p>
            <p>{{ review.text }}</p>
            <p>{{ review.added_date|date:"d.m.Y" }}</p>
            {% if review.author == request.user %}
              <p>
                <a href="{% url 'books:edit_review' book.id review.id %}">Редактировать отзыв</a>
              </p>
            {% endif %}
            {% if request.user.is_authenticated %}
              <p>
                <a href="{% url 'books:add_comment' book.id review.id %}"> Добавить комментарий </a>
              </p>
            {% endif %}
            ---------------------

            <h5>Комментарии:</h5>
            {% for comment in comments %}
            <p>
              <span style="color: red;">{{ comment.author.username }}:</span>
            </p>
            <p>{{ comment.text }}</p>
            <p>{{ comment.added_date|date:"d.m.Y" }}</p>
              {% if comment.author == request.user %}
                <p>
                  <a href="{% url 'books:edit_comment' book.id review.id comment.id %}"> Редактировать комментарий </a>
                </p>
              {% endif %}
            {% empty %}
              <p> Комментариев нет </p>
            {% endfor %}

          {% empty %}
            <p> Отзывов нет </p>
          {% endfor %}
        </div>

        <div>
          {% if request.user.is_authenticated %}
            <h5>Оставить отзыв:</h5>
            <form method="post" action={% url 'books:add_review' book.id %}>
              {% csrf_token %}
              {{ review_form|crispy }}
              <button type="submit">Сохранить</button>
            </form>
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.tags == 'error' %}
                      <span style="color: red;">{{ message }}</span>
                    {% else %}
                      {{ message }}
                    {% endif %}
              </p>
                {% endfor %}
              </ul>
            {% endif %}
          {% endif %}
        </div>

        <!-- Кнопки для добавления/удаления из прочитанных и запланированных -->
        {% if request.user.is_authenticated %}
          {% if book|is_book_read_by_user:request.user %}
            <form method="POST" action="{% url 'books:remove_book_read' book_id=book.id %}">
              {% csrf_token %}
              <button type="submit">Удалить из прочитанных</button>
            </form>
          {% else %}
            <form method="POST" action="{% url 'books:add_book_read' book_id=book.id %}">
              {% csrf_token %}
              <button type="submit">Добавить в прочитанные</button>
              <input type="hidden" name="book_id" value="{{ book.id }}">
            </form>
          {% endif %}
          {% if book|is_book_to_read_by_user:request.user %}
            <form method="POST" action="{% url 'books:remove_book_to_read' book_id=book.id %}">
              {% csrf_token %}
              <button type="submit">Удалить из запланированных</button>
            </form>
          {% else %}
            <form method="POST" action="{% url 'books:add_book_to_read' book_id=book.id %}">
              {% csrf_token %}
              <button type="submit">Добавить в запланированные</button>
              <input type="hidden" name="book_id" value="{{ book.id }}">
            </form>
          {% endif %}
        {% endif %}

      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="book-cover-container">
        {% if book.cover %}
          <img src="{{ book.cover.url }}" alt="Обложка книги {{ book.name }}" class="book-cover">
          {% else %}
          <p>Обложка отсутствует</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}