{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load book_filters %}

{% block title %}
  {{ book.name }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="book-cover-container">
        {% if book.cover %}
          <img src="{{ book.cover.url }}" alt="Обложка книги {{ book.name }}" class="book-cover">
        {% else %}
          <p>Обложка отсутствует</p>
        {% endif %}
      </div>

      <br>
      <!-- Кнопки для добавления/удаления из прочитанных и запланированных -->
      {% if request.user.is_authenticated %}
        {% if book|is_book_read_by_user:request.user %}
          <form method="POST" action="{% url 'books:remove_book_read' book_id=book.id %}">
            {% csrf_token %}
            <button type="submit">Удалить из прочитанных</button>
          </form>
        {% else %}
          <form method="POST" action="{% url 'books:add_book_read' book_id=book.id %}">
            {% csrf_token %}
            <button type="submit">Добавить в прочитанные</button>
            <input type="hidden" name="book_id" value="{{ book.id }}">
          </form>
        {% endif %}
        {% if book|is_book_to_read_by_user:request.user %}
          <form method="POST" action="{% url 'books:remove_book_to_read' book_id=book.id %}">
            {% csrf_token %}
            <button type="submit">Удалить из запланированных</button>
          </form>
        {% else %}
          <form method="POST" action="{% url 'books:add_book_to_read' book_id=book.id %}">
            {% csrf_token %}
            <button type="submit">Добавить в запланированные</button>
            <input type="hidden" name="book_id" value="{{ book.id }}">
          </form>
        {% endif %}
      {% endif %}
    </div>

    <div class="col-md-6">
      <div class="book-details">
        <div class="book-item">
          <h2>{{ book.name }}</h2>
        <div class="book-item">
          <b>Автор: </b> <a href="{% url 'books:author' book.author.id %}">{{ book.author }}</a>
        </div>
        <div class="book-item">
          <b>Жанр: </b>
          {% for genre in book.genre.all %}
            {% if forloop.last %}
              <a href="{% url 'books:books_genre' genre.slug %}">{{ genre }}</a></li>
            {% else %}
              <a href="{% url 'books:books_genre' genre.slug %}">{{ genre }}</a>,</li>
            {% endif %}
          {% endfor %}
        </div>
        <div class="book-item">
          <b>Описание:</b>
          <p>{{ book.description }}</p>
        </div>
        <div class="book-item">
          <b>Год выпуска:</b> {{ book.year }}
        </div>

        <!-- Рейтинг -->
        <div class="book-item">
          <b>Рейтинг: {{ book.rating }}</b>
        </div>
        <div class="book-item">
          <b>Наличие в магазине: </b><a href="{{ search_url }}" target="_blank">проверить наличие на Литрес</a>
        </div>

        <div class="book-item">
          <h3>Отзывы:</h3>
          {% for review in reviews %}
            <p>
              <!--<span style="color: red;">{{ review.author.username }}:</span>-->
              {% if review.author.avatar %}
                <img src="{{ review.author.avatar.url }}" class="avatar-image">
              {% endif %}
              <a href="{% url 'users:profile' review.author.username %}">{{ review.author.username }}</a>
              оценка <b>{{ review.score }}</b>
            </p>
            <p>{{ review.text }}</p>
            <p>{{ review.added_date|date:"d.m.Y" }}</p>
            {% if review.added_date != review.edited_date %}
              <p><i>отредактировано {{ review.edited_date|date:"d.m.Y H:i" }} </i></p>
            {% endif %}
            {% if review.author == request.user %}
              <p>
                <a href="{% url 'books:edit_review' book.id review.id %}">Редактировать отзыв</a>
              </p>
            {% endif %}
            {% if request.user.is_authenticated %}
              <p>
                <a href="{% url 'books:add_comment' book.id review.id %}"> Добавить комментарий </a>
              </p>
            {% endif %}
            ----------------------------

            <h5>Комментарии:</h5>
            {% for comment in review.comments.all %}
            <p>
              {% if comment.author.avatar %}
                <img src="{{ comment.author.avatar.url }}" class="avatar-image">
              {% endif %}
              <a href="{% url 'users:profile' comment.author.username %}">{{ comment.author.username }}</a>
            </p>
            <p>{{ comment.text }}</p>
            <p>{{ comment.added_date|date:"d.m.Y" }}</p>
            {% if comment.added_date != comment.edited_date %}
              <p><i>отредактировано {{ comment.edited_date|date:"d.m.Y H:i" }} </i></p>
            {% endif %}
            {% if comment.author == request.user %}
              <p>
                <a href="{% url 'books:edit_comment' book.id review.id comment.id %}"> Редактировать комментарий </a>
              </p>
            {% endif %}
            {% empty %}
              <p> Комментариев нет </p>
            {% endfor %}

          {% empty %}
            <p> Отзывов нет </p>
          {% endfor %}
        </div>

        <div>
          {% if request.user.is_authenticated %}
            <h5>Оставить отзыв:</h5>
            <form method="post" action={% url 'books:add_review' book.id %}>
              {% csrf_token %}
              {{ review_form|crispy }}
              <button type="submit">Сохранить</button>
            </form>
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'error' %}
                  <span style="color: red;">{{ message }}</span>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}