<html lang="ru">

{% load static %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static 'crispy_forms/css/crispy-forms.css' %}"> -->

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FAF0E6;"> <!-- Linen(бежевый) -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Readify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'books:home' %}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'books:books' %}">Книги</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'books:search_books' %}">Поиск</a>
            </li>

            <!-- For authenticated users -->

            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'books:recommendations' %}">Рекомендации</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if view_name  == 'users:profile' %}active{% endif %}"
                  href="{% url 'users:profile' username=user.username %}">Профиль </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light {% if view_name  == 'users:logout' %}active{% endif %}"
                  href="{% url 'users:logout' %}">Выйти</a>
            </li>
          <li>
            Пользователь: {{ request.user.username }}
          </li>

          <!-- For unauthorized users -->

          {% else %}
          <li class="nav-item">
            <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}"
              href="{% url 'users:login' %}">Войти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}"
            href="{% url 'users:signup' %}">Регистрация</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books:feedback' %}">Обратная связь</a>
          </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 class="mt-4">{% block heading %}{% endblock %}</h1>
      {% block content %}
      {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
  </body>
</html>